@use "../global" as g;

.l-footer {
    background-image: var(--color-gradient);
    color: var(--color-white);
    border-radius: 40px 40px 0 0;
    padding: 40px 16px 80px 16px;

    @include g.mq(sm) {
        padding: 40px 30px 80px;
    }

    @include g.mq() {
        padding: 80px 64px 40px 64px;
        border-radius: 48px 48px 0 0;
    }
}

.l-footer-head {
    max-width: 1040px;
    margin-inline: auto;
    display: grid;
    gap: 24px;

    @include g.mq(sm) {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

.l-footer-button {
    background-color: var(--color-white);
    color: var(--color-base);
    padding: 32px 32px 16px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: var(--color-box-shadow);
    transition: background-color 0.3s, color 0.3s;

    @media (any-hover: hover) {
        &:hover {
            background-color: #f6a749;
            color: var(--color-white);

            .l-footer-button-label {
                color: var(--color-white);
            }

            .l-footer-button-label,
            .l-footer-button-title,
            .l-footer-button-text {
                translate: 0 -4px;
            }

            .l-footer-button-icon {
                background-color: var(--color-white);

                &::before {
                    left: 7px;
                }

                svg {
                    translate: 34px 0;
                }
            }
        }
    }
}

.l-footer-button-label {
    font-size: 14px;
    color: var(--color-primary);
    letter-spacing: 0;
    transition: color 0.3s, translate 0.3s;

    @include g.mq() {
        font-size: 18px;
    }
}

.l-footer-button-title {
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    transition: translate 0.3s;

    @include g.mq() {
        font-size: 28px;
    }
}

.l-footer-button-text {
    font-size: 14px;
    transition: translate 0.3s;

    @include g.mq() {
        font-size: 15px;
    }
}

.l-footer-button-icon {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100vh;
    background-color: var(--color-primary);
    display: grid;
    place-items: center;
    align-self: end;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;

    &::before {
        content: "";
        display: block;
        width: 28px;
        aspect-ratio: 1;
        mask-image: url("/img/icon-arrow.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-primary);
        rotate: 90deg;
        position: absolute;
        top: 50%;
        left: -100%;
        translate: 0 -50%;
        transition: left 0.2s ease;
    }

    svg {
        width: 25px;
        stroke: var(--color-white);
        aspect-ratio: 1;
        rotate: -90deg;
        transition: translate 0.2s ease;
    }
}

.l-footer-body {
    margin-top: 40px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);

    @include g.mq() {
        margin-top: 80px;
        grid-template-columns: auto 1fr;
    }
}

.l-footer-logo {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-white);
    font-family: var(--font-family-english);
    text-transform: uppercase;
}

.l-footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
    max-width: 350px;

    @include g.mq(sm) {
        max-width: none;
    }

    @include g.mq() {
        justify-content: end;
        max-width: 500px;
        justify-self: end;
    }

    @include g.mq(lg) {
        max-width: none;
    }
}

.l-footer-nav-item a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    width: fit-content;
    transition: opacity 0.3s;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.5;
        }
    }

    &::before {
        content: "";
        background-color: var(--color-bg-base);
        flex-shrink: 0;
        width: 8px;
        height: 2px;
        display: inline-block;
    }
}

.l-footer-copy {
    display: block;
    margin-top: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;

    @include g.mq() {
        text-align: right;
    }

    span {
        display: block;
    }
}
