@use "../global" as g;

.l-footer {
    background-color: var(--color-base);
    color: var(--color-white);
    padding: 48px 32px 24px;
}

.l-footer-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
    grid-template-areas:
        "heading"
        "link"
        "sns";

    @include g.mq() {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "heading link"
            "sns link";
    }
}

.l-footer-heading {
    grid-area: heading;
    display: flex;
    align-items: center;
    gap: 24px;

    @include g.mq() {
        gap: 20px;
    }
}

.l-footer-logo {
    display: block;
    mask-image: url("/img/icon-logo.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 32px;
    aspect-ratio: 1;
    background-color: var(--color-white);
}

.l-footer-text {
    padding: 4px 8px;
    border: 1px solid var(--color-white20);
    border-radius: 4px;
    font-size: 10px;

    @include g.mq() {
        padding: 6px 10px;
        font-size: 14px;
    }
}

.l-footer-sns {
    grid-area: sns;
    display: flex;
    align-items: center;
    justify-content: center;

    @include g.mq() {
        justify-content: start;
    }
}

.l-footer-sns-icon {
    font-size: 20px;
    padding: 10px 12px;

    @include g.mq() {
        padding: 10px;
    }
}

.l-footer-link {
    grid-area: link;

    @include g.mq() {
        justify-self: end;
    }
}

.l-footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include g.mq() {
        gap: 16px;
    }
}

.l-footer-link-item {
    display: flex;
    align-items: center;
    gap: 4px;

    @include g.mq() {
        gap: 8px;
    }

    span {
        font-size: 13px;
        font-weight: 700;
        line-height: 1.4;

        @include g.mq() {
            font-size: 14px;
        }
    }
}

.l-footer-link-icon {
    width: 16px;
    aspect-ratio: 1;
    background-color: var(--color-white);
    mask-image: url("/img/icon-open_in_new.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.l-footer-copyright {
    display: block;
    text-align: center;
    color: var(--color-white50);
    font-size: 10px;
    line-height: 1;
    margin-top: 24px;

    @include g.mq() {
        font-size: 12px;
        margin-top: 64px;
        text-align: right;
    }
}
