.header {
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(81px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    &-heading {
        display: flex;
        gap: 20px;
    }

    &-logo {
        border: 1px solid var(--color-primary);
        transition: 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        border: 1px solid var(--color-dark-gray20);
    }

    &-button-list {
        display: flex;
        gap: 8px;
    }

    &-menu-button {
        position: relative;
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 100vh;
        display: grid;
        place-items: center;
        background-color: var(--color-white);
        border: 1px solid var(--color-dark-gray20);

        &:hover {
            border: 1px solid var(--color-dark-gray);

            svg {
                fill: var(--color-white);
            }
        }

        &::before {
            content: '';
            position: absolute;
            background-color: transparent;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            translate: -100% 0;
            z-index: 0;
            background-color: var(--color-dark-gray);
            transition: 0.3s;
        }

        &:hover::before {
            translate: 0 0;
        }

        svg {
            position: relative;
            z-index: 10;
        }
    }

    &-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
    }

    // トグルメニュー
    &-nav {
        opacity: 0;
        visibility: hidden;
        translate: 100% 0;
        transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 466px;
        height: 100vh;
        padding: 0 40px 40px 40px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);

        &--open {
            opacity: 1;
            visibility: visible;
            translate: 0 0;
        }

        &-button {
            height: 80px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin: 24px 0 0;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 1.4;
            padding-left: 40px;

            a {
                transition: 0.3s;
            }

            a:hover {
                opacity: 0.5;
            }
        }

        &-button-list {
            display: flex;
            gap: 8px;
            margin-top: auto;
        }
    }
}
