@use '../global' as g;

.l-header {
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(81px);
    position: fixed;
    z-index: var(--z-index-item);
    top: 0;
    left: 0;
    right: 0;

    &-wrap {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;

        @include g.mq() {
            padding-inline: 20px;
        }
    }

    &-heading {
        display: flex;
        align-items: center;
        gap: 20px;

        @include g.mq() {
            gap: 8px;
        }
    }

    &-logo {
        transition: 0.3s;
        flex: 1;

        img {
            height: 30px;

            @include g.mq() {
                height: 24px;
            }
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid var(--color-dark-gray20);

        @include g.mq() {
            padding: 4px 6px;
            font-size: 10px;
        }
    }

    &-cta-wrap {
        display: flex;
        gap: 8px;
    }

    .l-header-cta {
        position: relative;
        overflow: hidden;

        width: 140px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 100vh;

        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1.4;
        color: var(--color-white);

        &::before {
            content: '';
            position: absolute;
            background-color: transparent;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            translate: -100% 0;
            z-index: 0;
            background-color: var(--color-white);
            transition: 0.3s;
        }

        &:hover::before {
            translate: 0 0;
        }

        span {
            position: relative;
            z-index: 100;
        }

        &--large {
            width: 189px;
            height: 57px;

            @include g.mq() {
                width: 100%;
                height: 30px;
                padding: 24px 20px;
            }
        }

        &--info {
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);

            &:hover {
                color: var(--color-primary);
            }
        }

        &--entry {
            background-color: var(--color-secondary);
            border: 1px solid var(--color-secondary);

            &:hover {
                color: var(--color-secondary);
            }
        }
    }

    &-menu-button {
        position: relative;
        overflow: hidden;
        width: 50px;
        aspect-ratio: 1;
        border-radius: 100vh;
        display: grid;
        place-items: center;
        background-color: var(--color-white);
        border: 1px solid var(--color-dark-gray20);

        @include g.mq() {
            width: 32px;
        }

        &:hover {
            border: 1px solid var(--color-dark-gray);

            svg {
                fill: var(--color-white);
            }
        }

        &::before {
            content: '';
            position: absolute;
            background-color: transparent;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            translate: -100% 0;
            background-color: var(--color-dark-gray);
            transition: 0.3s;
        }

        &:hover::before {
            translate: 0 0;
        }

        svg {
            position: relative;
            z-index: var(--z-index-item);
        }
    }

    &-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100vh;
        z-index: var(--z-index-overlay);
    }

    // トグルメニュー
    &-nav {
        opacity: 0;
        visibility: hidden;
        translate: 100% 0;
        transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
        position: fixed;
        top: 0;
        right: 0;
        z-index: var(--z-index-modal);
        width: 466px;
        height: 100vh;
        padding: 0 40px 40px 40px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);

        @include g.mq() {
            inset: 0;
            width: 100%;
            padding: 0 24px 24px 24px;
        }

        &--open {
            opacity: 1;
            visibility: visible;
            translate: 0 0;
        }

        &-button {
            height: 80px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin: 24px 0 0;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 1.4;
            padding-left: 40px;

            a {
                transition: 0.3s;
            }

            a:hover {
                opacity: 0.5;
            }
        }

        &-cta-wrap {
            display: flex;
            gap: 8px;
            margin-top: auto;

            @include g.mq() {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.l-header-cta-wrap > .l-header-cta {
    @include g.mq(md) {
        display: none;
    }
}
