@use "../global" as g;

.l-header {
    height: var(--header-height);
    padding-inline: 24px;
    background-color: var(--color-white);
    box-shadow: 0px 2px 12px #00317b26;
    position: fixed;
    z-index: var(--z-index-header);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;

    @include g.mq() {
        padding-inline: 40px;
    }
}

.l-header-title {
    display: inline-flex;
    gap: 6px;
    align-items: center;

    @include g.mq() {
        gap: 20px;
    }
}

.l-header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-primary);
    font-family: var(--font-family-english);
    text-transform: uppercase;
    width: fit-content;
    background-image: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @include g.mq(sm) {
        font-size: 26px;
    }

    @include g.mq() {
        font-size: 32px;
    }
}

.l-header-button-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.l-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 44px;
    border: 2px solid;
    border-radius: 100vh;
    padding: 0 24px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;

    svg {
        width: 14px;
        aspect-ratio: 1;
    }
}

.l-header-button--reserve {
    border-color: var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--color-white);
            color: var(--color-primary);
        }
    }
}

.l-header-button--jobs {
    border-color: var(--color-primary);
    color: var(--color-primary);

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }
}

.l-header-icon {
    width: 48px;
    aspect-ratio: 1;
    border-radius: 100vh;
    background-color: var(--color-primary);
    display: grid;
    place-items: center;

    svg {
        width: 30px;
        aspect-ratio: 1;
        stroke: var(--color-white);
    }
}

.l-header-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(51, 51, 51, 0.3);
    width: 100%;
    height: 100vh;
}

.l-header-nav {
    visibility: hidden;
    opacity: 0;
    translate: 100% 0;
    transition: opacity 0.3s, translate 0.3s, visibility 0.3s;
    position: fixed;
    inset: 0 0 0 auto;
    z-index: var(--z-index-menu);
    background-color: var(--color-white);
    width: 300px;
    height: 90%;
    padding: 0 24px 24px 24px;
    border-radius: 0 0 0 32px;
    display: flex;
    flex-direction: column;

    @include g.mq() {
        padding: 0 40px 40px 40px;
        width: 466px;
    }
}

.is-header-nav-open {
    visibility: visible;
    opacity: 1;
    translate: 0 0;
}

.l-header-close-button-wrap {
    position: absolute;
    top: 12px;
    right: 24px;

    @include g.mq() {
        top: 20px;
        right: 40px;
    }
}

.l-header-list {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    height: 100%;

    @include g.mq() {
        gap: 54px;
    }
}

.l-header-item {
    width: 100%;
    text-align: center;
}

.l-header-item a {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.1em;
    transition: opacity 0.2s;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.5;
        }
    }
}

.l-header-nav-button-wrap {
    font-size: 14px;
    margin-top: auto;
}
