@use "../global" as g;

.c-button {
    color: var(--color-white);
    background-color: var(--color-primary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    border-radius: 100vh;
    font-size: 16px;
    font-weight: bold;
    position: relative;

    @include g.mq() {
        height: 64px;
        font-size: 20px;
    }
}

.c-button--white {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-image: none;
}

.c-button--small {
    font-size: 14px;
    width: 180px;
    height: 48px;

    @include g.mq() {
        height: 54px;
    }
}
