@use 'sass:map';

// global > breakpoint
// ------------------------------
$breakpoints: (
    'sm': 500px,
    'md': 900px,
    'lg': 1366px,
);

@mixin mq($breakpoint: sm) {
    @media screen and (max-width: #{map.get($breakpoints, $breakpoint)}) {
        @content;
    }
}
