/*!
global > color
------------------------------
*/
:root {
    --color-base: #333333;
    --color-white: #ffffff;
    --color-primary: #2c7bf1;
    --color-primary10: #e9f2ff;
    --color-orange: #fcaf17;
    --color-red: #f35757;
    --color-deep-blue: #2d5579;
    --color-box-shadow: hsla(207, 6%, 61%, 0.15) 0px 7px 18px 0px;
    --color-gradient: linear-gradient(to left, #0090f1ff, rgb(28, 0, 241));
    --color-bg-base: #f8fcfd;
}
