/*!
global > font
------------------------------
*/
:root {
    --font-family-base: "Noto Sans JP", sans-serif;
    --font-family-inter: "Inter", sans-serif;
    --font-family-outfit: "Outfit", sans-serif;
    --font-family-english: "Montserrat", sans-serif;
}
