/*!
global > color
------------------------------
*/
:root {
    --color-white: #ffffff;
    --color-white20: rgba(255, 255, 255, 0.2);
    --color-white50: rgba(255, 255, 255, 0.5);
    --color-white70: rgba(255, 255, 255, 0.7);
    --color-dark-gray: #333333;
    --color-dark-gray20: rgba(51, 51, 51, 0.2);
    --color-dark-gray50: rgba(51, 51, 51, 0.5);
    --color-primary-pastel: #e9edf7;
    --color-primary: #1b52b0;
    --color-secondary: #ee9527;
    --color-background: linear-gradient(270deg, #e9edf7ff, #ffffff);
    --color-file-select: linear-gradient(0deg, #eeeeeeff, #ffffffff);
    --color-link: #007cff;
}

/*!
global > content-width
------------------------------
*/
:root {
    --width-content-s: 960px;
    --width-content: 1280px;
}

/*!
global > font
------------------------------
  */
:root {
    --font-family-base: 'Noto Sans JP', sans-serif;
    --font-family-inter: 'Inter', sans-serif;
    --font-family-outfit: 'Outfit', sans-serif;
}
