/*!
foundation > base
------------------------------
*/
body {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark-gray);
    font-family: var(--font-family-base);
}
// @media screen and (width <= 768px) {
//     body {
//         font-size: 16px;
//     }
// }
