@use "../global" as g;

/*!
foundation > base
------------------------------
*/
body {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-base);
    font-family: var(--font-family-base);

    @include g.mq() {
        font-size: 18px;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    letter-spacing: 0.08em;
}
