@use "../global" as g;

.u-ptb {
    padding-block: 64px !important;

    @include g.mq() {
        padding-block: 100px !important;
    }
}

.u-hide--sp {
    display: none !important;

    @include g.mq() {
        display: inline-flex !important;
    }
}

.u-mb40 {
    margin-bottom: 40px !important;
}

.u-color-primary {
    color: var(--color-primary);
}

.u-font-english {
    font-family: var(--font-family-admin);
}
