@use "../../global" as g;

.top-flow {
}

.top-flow-note {
    color: var(--color-deep-blue);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 24px;

    @media screen and (min-width: 1260px) {
        display: none;
    }

    img {
        width: 30px;
        aspect-ratio: 1;
    }
}

.top-flow-wrap {
    scrollbar-width: none;
    margin-top: 20px;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.top-flow-list {
    grid-template-columns: 1fr 24px 1fr 24px 1fr;
    gap: 20px;
    min-width: 1100px;
    display: grid;
    counter-reset: step;
}

.top-flow-section {
    background-color: var(--color-bg-base);
    box-shadow: var(--color-box-shadow);
    border-radius: 16px;
    padding: 24px;
    counter-increment: step;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

    &::before {
        content: counter(step, decimal-leading-zero);
        display: grid;
        place-items: center;
        width: 48px;
        aspect-ratio: 1;
        border-radius: 100vh;
        background-image: var(--color-gradient);
        color: var(--color-white);
        font-size: 28px;
        font-family: var(--font-family-english);
        font-weight: normal;

        @include g.mq() {
            width: 64px;
            font-size: 32px;
        }
    }
}

.top-flow-title {
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    color: var(--color-deep-blue);
}

.top-flow-text {
    color: var(--color-deep-blue);
    font-size: 14px;

    span {
        display: block;
    }
}

.top-flow-triangle {
    aspect-ratio: 1;
    background-color: var(--color-primary);
    align-self: center;
    display: block;
    mask-image: url("/img/icon-arrow.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    rotate: 90deg;
}
