@use "../../global" as g;

.top-service {
}

.top-service-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @include g.mq(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include g.mq() {
        grid-template-columns: repeat(3, 1fr);
    }
}

.top-service-item {
    padding: 24px;
    box-shadow: var(--color-box-shadow);
    border-radius: 16px;
    background-color: #f8fcfd;
}

.top-service-img {
    img {
        width: 50px;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.top-service-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary);
    margin-top: 8px;

    @include g.mq() {
        font-size: 18px;
    }
}

.top-service-description {
    color: #2d5579;
    margin-top: 6px;
    font-size: 14px;

    @include g.mq() {
        font-size: 15px;
    }
}
