@use "../../global" as g;

.top-problem {
    background-color: var(--color-primary);
    color: var(--color-white);
    position: relative;
    padding: 100px 0 64px;

    @include g.mq() {
        padding: 240px 0 100px;
    }
}

.top-problem-wave {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -1px;

    svg {
        width: 100%;
        height: auto;
    }
}

.top-problem-title {
    line-height: 1.3;

    span {
        display: block;
    }
}

.top-problem-title-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-problem-text {
    font-size: 22px;
    letter-spacing: 0.08em;

    @include g.mq() {
        font-size: 40px;
    }
}

.top-problem-text02 {
    font-size: 19px;

    @include g.mq() {
        font-size: 28px;
    }
}

.top-problem-text03 {
    margin-top: 4px;
    letter-spacing: 0.08em;
    font-size: 19px;
    margin-inline: auto;
    width: fit-content;

    @include g.mq() {
        font-size: 28px;
    }

    &::after {
        margin-top: 4px;
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--color-white);
        border-radius: 100vh;
    }
}

.top-problem-read {
    margin-top: 24px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.06em;

    @include g.mq() {
        font-size: 18px;
    }

    span {
        display: block;
    }
}

.top-problem-list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @include g.mq(sm) {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

.top-problem-item {
    color: var(--color-base);
    background-color: var(--color-white);
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;

    @include g.mq() {
        padding: 24px 24px 32px;
    }
}

.top-problem-item-img {
    width: 140px;
    height: 100px;

    @include g.mq() {
        width: 200px;
        height: 150px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.top-problem-item-title {
    font-weight: 400;
    margin-top: 12px;
    font-size: 18px;
    letter-spacing: 0.05em;

    @include g.mq() {
        margin-top: 24px;
        font-size: 23px;
    }
}

.top-problem-item-text {
    font-weight: 400;
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 0.05em;

    @include g.mq() {
        font-size: 15px;
    }
}
