@use "../../global" as g;

.top-interview {
    background-color: var(--color-primary);
}

.top-interview-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 24px;

    @include g.mq() {
        grid-template-columns: repeat(1, 1fr);
    }
}

.top-interview-item {
    background-color: var(--color-bg-base);
    padding: 24px 30px;
    border-radius: 12px;
    height: 100%;

    @include g.mq() {
        padding: 24px 30px;
        display: flex;
        flex-direction: column;
    }
}

.top-interview-img {
    grid-row: 1/3;
    grid-column: 1/2;

    @include g.mq() {
        grid-row: unset;
        grid-column: unset;
    }

    img {
        width: 100px;
        aspect-ratio: 1;
        border-radius: 100vh;

        @include g.mq() {
            width: 90px;
        }
    }
}

.top-interview-job {
    align-self: end;
    font-size: 16px;
    font-weight: bold;

    @include g.mq() {
        margin-top: 10px;
        font-size: 18px;
    }
}

.top-interview-name {
    margin-top: 4px;
    align-self: start;
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 16px;
    font-weight: bold;

    @include g.mq() {
        grid-row: unset;
        grid-column: unset;
        margin-top: 4px;
    }
}

.top-interview-text {
    margin-top: 24px;
    font-size: 14px;

    @include g.mq() {
        font-size: 16px;
        margin-top: 8px;
    }
}

.splide__arrow {
    background-color: var(--color-bg-blue);
    width: 42px;
    height: 42px;
    opacity: 1 !important;

    @include g.mq() {
        width: 60px;
        height: 60px;
    }

    &::before {
        content: "";
        display: block;
        width: 21px;
        aspect-ratio: 1;
        border-radius: 100vh;
        background-color: var(--color-primary);
        mask-image: url("/img/icon-arrow.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;

        @include g.mq() {
            width: 30px;
        }
    }

    svg {
        display: none;
    }
}

.splide__arrow--next {
    translate: 34px 0;

    @include g.mq() {
        translate: 50px 0;
    }

    &::before {
        rotate: 90deg;
    }
}

.splide__arrow--prev {
    translate: -34px 0;

    @include g.mq() {
        translate: -50px 0;
    }

    &::before {
        rotate: -90deg;
    }
}

.splide__pagination {
    translate: 0 30px;

    @include g.mq() {
        translate: 0 50px;
    }
}
