@use "../../global" as g;

.top-mv {
    position: relative;
    padding: 30px 20px 50px;
    margin-inline: auto;
    max-width: 1100px;
    margin-top: var(--header-height);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include g.mq() {
        padding: 80px 40px 60px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
}

.top-mv-head {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top-mv-wrap {
}

.top-mv-text {
    color: var(--color-deep-blue);
    font-weight: bold;
    font-size: 16px;

    @include g.mq(sm) {
        font-size: 18px;
    }

    @include g.mq() {
        font-size: 24px;
    }

    span {
        display: block;
    }
}

.top-mv-text02 {
    color: var(--color-primary);
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 14px;
    white-space: nowrap;

    @include g.mq(sm) {
        margin-top: 20px;
        font-size: 48px;
    }

    span {
        display: block;
    }
}

.top-mv-list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 260px;
    margin-top: 14px;

    @include g.mq(sm) {
        max-width: 400px;
    }

    @include g.mq() {
        margin-top: 24px;
    }
}

.top-mv-item {
    background-color: var(--color-primary10);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border-radius: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 14px;

    @include g.mq(sm) {
        font-size: 16px;
    }

    @include g.mq() {
        font-size: 16px;
    }

    &::before {
        content: "#";
        font-family: var(--font-family-english);
    }
}

.top-mv-button-wrap {
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include g.mq(sm) {
        flex-direction: row;
        gap: 12px;
    }

    @include g.mq() {
        gap: 24px;
    }
}

.top-mv-button {
    width: 100%;
    height: 64px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 18px;
    gap: 8px;
    padding: 0 12px;
    border-radius: 100vh;
    font-size: 16px;

    @include g.mq() {
        width: 240px;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        aspect-ratio: 1;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-white);
        translate: 0 1.5px;
    }
}

.top-mv-button--reserve {
    background-image: var(--color-gradient);
    border: 2px solid var(--color-primary);
    color: var(--color-white);

    &::after {
        mask-image: url("/img/icon-mail.svg");
    }
}

.top-mv-button--jobs {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    &::after {
        mask-image: url("/img/icon-search02.svg");
        background-color: var(--color-primary);
    }
}

.top-mv-image {
    img {
        border: 6px solid var(--color-white);
        box-shadow: var(--color-box-shadow);
        border-radius: 12px;
        object-fit: cover;
        aspect-ratio: 530 / 471;

        @include g.mq(lg) {
            width: 430px;
        }
    }
}
