/*!
component > form > label
------------------------------
*/

.c-form-label {
    display: flex;
    gap: 4px;

    &-name {
        font-size: 14px;
    }

    &-require {
        font-size: 12px;
        line-height: 1.4;
        padding: 2px 8px;
        border-radius: 100vh;
        border: 1px solid var(--color-secondary70);
        color: var(--color-secondary);
    }

    &-note {
        font-size: 12px;
        line-height: 1.4;
        color: var(--color-dark-gray50);
        margin-top: 4px;
    }
}
