/*!
component > form > label
------------------------------
*/

.c-form-label {
    display: flex;
    gap: 8px;

    &-name {
        font-size: 18px;
        font-weight: bold;
        color: #2d5579;
    }

    &-require {
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        border-radius: 4px;
        padding: 0 4px;
        background-color: var(--color-red);
        color: var(--color-white);
        display: grid;
        place-items: center;
    }

    &-note {
        font-size: 12px;
        line-height: 1.4;
        color: var(--color-dark-gray50);
        margin-top: 4px;
    }
}
