/*!
component > form > select, option
------------------------------
*/

.c-form-select {
    display: block;
    width: 100%;
    padding: 15px 10px;
    height: 55px;
    border-radius: 8px;
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-gray20);
    letter-spacing: 0.05em;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-dark-gray);
    outline: none;

    &:focus {
        border: 1px solid var(--color-primary);
    }
}
