/*!
component > form > text
------------------------------
*/

.c-form-text {
    padding: 10px 16px;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    outline: none;

    &::placeholder {
        color: #a8a8a8;
        font-weight: bold;
    }

    &:focus {
        box-shadow: 0 0 0 2px var(--color-primary80);
    }
}

/*!
component > form > textarea
------------------------------
*/

.c-form-textarea {
    padding: 10px;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-gray20);
    line-height: 1.4;
    font-size: 15px;
    font-weight: 400;
    resize: none;
    outline: none;
}
