/*!
component > form > text
------------------------------
*/

.c-form-text {
    padding: 10px 16px;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-gray20);
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 400;
    outline: none;

    &::placeholder {
        color: var(--color-dark-gray20);
    }

    &:focus {
        border: 1px solid var(--color-primary);
    }
}
