/*!
component > form > textarea
------------------------------
*/

.c-form-textarea {
    padding: 10px;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-gray20);
    line-height: 1.4;
    font-size: 15px;
    font-weight: 400;
    resize: none;
    outline: none;

    &:focus {
        border: 1px solid var(--color-primary);
    }
}
