.entry {
    margin-top: 80px;
    background-color: var(--color-secondary5);
    border-top-left-radius: 64px;

    &-title {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &-note {
        margin: 36px 0;

        &-text span {
            display: block;
        }

        &-text02 {
            color: var(--color-secondary);
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-inner {
            display: flex;
            gap: 50px;
        }

        &-input {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-privacy {
            font-size: 14px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: 0.3s;

            a {
                color: var(--color-link);
                text-decoration: underline;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &-button {
            margin-inline: auto;

            button {
                width: 260px;
                height: 72px;
                padding: 15px;
                border-radius: 100vh;
                background-color: var(--color-secondary);
                border: 1px solid var(--color-secondary);
                font-weight: bold;
                font-size: 20px;
                color: var(--color-white);
                position: relative;
                overflow: hidden;
                z-index: 2;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-white);
                    translate: -100% 0;
                    transition: 0.3s;
                    z-index: -1;
                }

                @media (any-hover: hover) {
                    &:hover {
                        color: var(--color-secondary);
                    }

                    &:hover::before {
                        translate: 0 0;
                    }
                }
            }
        }

        &-note {
            text-align: center;
            font-size: 12px;
            line-height: 1.4;
        }
    }
}
