html {
    scroll-behavior: smooth;
}

.top {
    padding-top: 80px;

    > section {
        padding: 120px 48px;
    }
}

.top-mv {
    background-color: var(--color-background);
}

.top-read {
    background-color: transparent;
    height: 80vh;
    padding: 0 56px 120px;

    display: flex;
    align-items: center;

    position: relative;

    &-text {
        font-size: 24px;
        font-weight: 700;
        line-height: 2;
    }

    .top-read-carousel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;

        &-text {
            font-family: var(--font-family-outfit);
            font-size: 110px;
            line-height: 1.4;
            font-weight: 700;
            color: var(--color-primary-pastel);
        }
    }
}

.top-about {
}

.top-interview {
}

.top-topics {
    background-color: var(--color-primary);
}

.top-flow {
    background-color: var(--color-primary-pastel);

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    &-item {
        padding: 32px 40px;
        border-radius: 12px;
        background-color: var(--color-white);
    }

    &-label {
        font-family: var(--font-family-inter);
        font-size: 12px;
        line-height: 1;
        color: var(--color-primary);
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        color: var(--color-primary);
        margin-top: 4px;
    }

    &-text {
        margin-top: 8px;
    }
}

.top-faq {
    padding: 120px 48px;
    background-color: var(--color-primary20);

    .top-faq-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-item {
        padding: 24px;
        background-color: var(--color-white);
        border-radius: 12px;

        &:hover {
            .top-faq-item-question {
                opacity: 0.5;

                &::after {
                    background-color: var(--color-primary10);
                }
            }
        }

        &-question {
            display: grid;
            grid-template-columns: auto 1fr 40px;
            gap: 16px;
            align-items: center;
            cursor: pointer;
            padding: 12px;
            opacity: 1;
            transition: opacity 0.4s;

            &::before {
                content: 'Q.';
                display: inline-block;
                font-family: var(--font-family-inter);
            }

            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: var(--color-white);
                border: 1px solid var(--color-dark-gray20);

                background-image: url('../../assets/icon-arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 14px;

                rotate: 180deg;
                transition: background-color 0.4s;
            }
        }

        &-answer {
            overflow: hidden;
        }

        &-answer-inner {
            padding: 12px;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 16px;
            align-items: baseline;

            &::before {
                content: 'A.';
                display: inline-block;
                font-family: var(--font-family-inter);
            }
        }
    }
}

.top-cta {
    background-color: var(--color-primary);
}
