html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

.top {
    > section {
        padding: 120px 48px;
    }
}

.top-mv {
    position: relative;
    margin: 80px 0 0;
    padding: 140px 0 0;
    height: calc(100% - 80px);

    &-img {
        border-radius: 24px;
        overflow: hidden;

        img {
            // aspect-ratio: 1;
            // object-fit: cover;
        }
    }

    &-copy {
        position: absolute;
        z-index: 2;
        top: 40px;
        left: 50px;

        &-text {
            display: inline-block;
            font-weight: bold;
            font-size: 40px;
            color: var(--color-white);
            background-color: var(--color-primary);
            border-radius: 6px;
            padding: 0 16px 4px;
        }

        .break {
            display: block;
            margin-top: 8px;
        }
    }
}

.top-read {
    background-color: transparent;
    height: 80vh;
    padding: 0 56px 120px;

    display: flex;
    align-items: center;

    position: relative;

    &-text {
        font-size: 24px;
        font-weight: 700;
        line-height: 2;
    }

    .top-read-carousel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;

        &-text {
            font-family: var(--font-family-outfit);
            font-size: 110px;
            line-height: 1.4;
            font-weight: 700;
            color: var(--color-primary-pastel);
        }
    }
}

.top-about {
    background-color: var(--color-primary10);

    &-wrap {
        display: grid;
        grid-template-columns: 35% 60%;
        justify-content: space-between;
    }

    &-description:not(:first-child) {
        margin-top: 1.6em;
    }

    &-cta-wrap {
        margin-top: 40px;
        display: inline-flex;
        flex-direction: column;
        gap: 16px;
    }

    &-cta {
        display: grid;
        grid-template-columns: 1fr 20px;
        align-items: center;
        justify-content: start;
        gap: 16px;
        text-align: left;

        padding: 20px 24px;
        border-radius: 100vh;
        border: 1px solid var(--color-primary80);
        color: var(--color-primary);
        position: relative;
        overflow: hidden;

        > span {
            z-index: var(--z-index-item);
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: var(--color-white);
            transform-origin: 0% 50%;
            transition: 0.4s;
        }

        &:hover::before {
            left: 0;
        }

        svg {
            fill: var(--color-primary);
            z-index: var(--z-index-item);
        }
    }

    &-img {
        border-radius: 24px;
        overflow: hidden;

        img {
            height: 600px;
        }
    }

    &-feature {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    &-feature-item {
        background-color: var(--color-white);
        border-radius: 12px;
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-feature-label {
        font-family: var(--font-family-inter);
        font-size: 12px;
        line-height: 1;
        padding: 6px 8px;
        border-radius: 4px;
        color: var(--color-white);
        background-color: var(--color-primary);
        width: 82.5px;
        display: grid;
        grid-template-columns: 6px 1fr;
        gap: 4px;
        align-items: center;

        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            aspect-ratio: 1;
            border-radius: 100vh;
            background-color: var(--color-white);
        }
    }

    &-feature-title {
        font-weight: 700;
        font-size: 20px;
        color: var(--color-primary);
    }

    &-business {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }

    &-business-item {
    }

    &-business-img img {
        aspect-ratio: 600 / 320;
        border-radius: 12px;
        overflow: hidden;
    }

    &-business-title {
        font-weight: bold;
        font-size: 20px;
        color: var(--color-primary);
        margin-top: 12px;
    }

    &-business-text {
        margin-top: 8px;
    }
}

.top-interview {
    background-color: var(--color-primary20);
}

.top-topics {
    background-color: var(--color-primary);
}

.top-workplace {
    &-wrap {
        display: grid;
        grid-template-columns: 35% 60%;
        justify-content: space-between;
    }

    &-img {
        border-radius: 24px;
        overflow: hidden;
    }

    &-stats {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: 8px;

        &-item {
            border-radius: 12px;
            padding: 32px 24px;
            background-color: var(--color-primary10);
        }

        &-label {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            color: var(--color-primary);
        }

        &-wrap {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 4px;
        }

        &-value {
            font-family: var(--font-family-outfit);
            font-size: 64px;
            line-height: 1;
        }
    }

    &-benefits {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        gap: 24px;

        &-item {
            display: grid;
            grid-template-columns: 80px 1fr;
            gap: 20px;
        }

        &-icon {
            background-color: var(--color-primary);
            width: 80px;
            height: 80px;
            border-radius: 8px;
            display: grid;
            place-items: center;
        }

        &-body {
        }

        &-title {
            font-weight: bold;
            font-size: 20px;
        }

        &-text {
            margin-top: 4px;
        }
    }
}

.top-flow {
    background-color: var(--color-primary-pastel);

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    &-item {
        padding: 32px 40px;
        border-radius: 12px;
        background-color: var(--color-white);
    }

    &-label {
        font-family: var(--font-family-inter);
        font-size: 12px;
        line-height: 1;
        color: var(--color-primary);
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        color: var(--color-primary);
        margin-top: 4px;
    }

    &-text {
        margin-top: 8px;
    }
}

.top-faq {
    padding: 120px 48px;
    background-color: var(--color-primary20);

    .top-faq-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-item {
        padding: 24px;
        background-color: var(--color-white);
        border-radius: 12px;

        &:hover {
            .top-faq-item-question {
                opacity: 0.5;

                &::after {
                    background-color: var(--color-primary10);
                }
            }
        }

        &-question {
            display: grid;
            grid-template-columns: auto 1fr 40px;
            gap: 16px;
            align-items: center;
            cursor: pointer;
            padding: 12px;
            opacity: 1;
            transition: opacity 0.4s;

            &::before {
                content: 'Q.';
                display: inline-block;
                font-family: var(--font-family-inter);
            }

            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: var(--color-white);
                border: 1px solid var(--color-dark-gray20);

                background-image: url('../../assets/icon-arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 14px;

                rotate: 180deg;
                transition: background-color 0.4s;
            }
        }

        &-answer {
            overflow: hidden;
        }

        &-answer-inner {
            padding: 12px;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 16px;
            align-items: baseline;

            &::before {
                content: 'A.';
                display: inline-block;
                font-family: var(--font-family-inter);
            }
        }
    }
}

.top-cta {
    background-color: var(--color-primary);
}
